img {

height: 300px ; width: 65%;  display: block; margin-left: auto;
margin-right: auto;

}
.nobull 
{ background-color: orangered;
   list-style-type: none;
padding: 3px;

}
li {
   display: inline;
   margin-left: 20px ;
}
.section
{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}
.part
{
   border: 1px solid black;
}